<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://notificacioncertificada2024.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/3d4a5fea-0c39-4290-bebd-4e9b23da0e2e/resourcegroups/validart2/providers/Microsoft.Web/sites/NotificacionCertificada2024</ResourceId>
    <UserName>$NotificacionCertificada2024</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://notificacioncertificada2024.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>